<body>
<script src="resources/eml_report_loadable_data.js"></script>
<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S2T2">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">q_dot_1</a></td>
<td>Output</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S3T2">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">q_dot_2</a></td>
<td>Output</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S4T2">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">J_1</a></td>
<td>Input</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S5T2">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">J_2</a></td>
<td>Input</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S6T2">
<td id="blank"></td><td>5</td>
<td id=""><a href="#">x1_dot_des</a></td>
<td>Input</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S7T25">
<td id="blank"></td><td>6</td>
<td id=""><a href="#">x2_dot_des</a></td>
<td>Input</td><td class="watchsize" id="19">2 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S8T2">
<td id="blank"></td><td>7</td>
<td id=""><a href="#">J1</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S9T2">
<td id="blank"></td><td>8</td>
<td id=""><a href="#">J2</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S10T2">
<td id="blank"></td><td>9</td>
<td id=""><a href="#">dim1</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S11T2">
<td id="blank"></td><td>10</td>
<td id=""><a href="#">dim2</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S12T26">
<td id="blank"></td><td>11</td>
<td id=""><a href="#">pinv_d</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">function_handle</td>
<td class="watchcomplex">-</td>
</tr>
<tr class="var type1" id="S14T25">
<td id="blank"></td><td>12</td>
<td id=""><a href="#">J_ra_2</a></td>
<td>Local</td><td class="watchsize" id="19">2 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S15T27">
<td id="blank"></td><td>13</td>
<td id=""><a href="#">J_ra_2_p</a></td>
<td>Local</td><td class="watchsize" id="4">1 x 2</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S16T27">
<td id="blank"></td><td>14</td>
<td id=""><a href="#">T2</a></td>
<td>Local</td><td class="watchsize" id="4">1 x 2</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S17T1">
<td id="blank"></td><td>15</td>
<td id=""><a href="#">J_ra_1</a></td>
<td>Local</td><td class="watchsize" id="21">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S18T21">
<td id="blank"></td><td>16</td>
<td id=""><a href="#">J_ra_1_p</a></td>
<td>Local</td><td class="watchsize" id="5">1 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S19T29">
<td id="blank"></td><td>17</td>
<td id=""><a href="#">T1</a></td>
<td>Local</td><td class="watchsize" id="8">1 x 6</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
</tbody>
</table>
</body>
