<body>
<script src="resources/eml_report_loadable_data.js"></script>
<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S35T4">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">err</a></td>
<td>Output</td><td class="watchsize" id="23">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S36T11">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">q</a></td>
<td>Input</td><td class="watchsize" id="25">4 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S37T11">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">Q</a></td>
<td>Input</td><td class="watchsize" id="25">4 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S38T22">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">skew_m</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">function_handle</td>
<td class="watchcomplex">-</td>
</tr>
</tbody>
</table>
</body>
