<body>
<script src="resources/eml_report_loadable_data.js"></script>
<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S2T4">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">Pose1</a></td>
<td>Output</td><td class="watchsize" id="23">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S3T5">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">X_dot</a></td>
<td>Output</td><td class="watchsize" id="27">6 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S4T4">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">Pose_1</a></td>
<td>Input</td><td class="watchsize" id="23">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S5T6">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">R_ee</a></td>
<td>Input</td><td class="watchsize" id="24">3 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S6T4">
<td id="blank"></td><td>5</td>
<td id=""><a href="#">P_ee</a></td>
<td>Input</td><td class="watchsize" id="23">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S7T4">
<td id="blank"></td><td>6</td>
<td id=""><a href="#">P_sr</a></td>
<td>Input</td><td class="watchsize" id="23">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S8T7">
<td id="blank"></td><td>7</td>
<td id=""><a href="#">Pose</a></td>
<td>Input</td><td class="watchsize" id="23">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S9T8">
<td id="blank"></td><td>8</td>
<td id=""><a href="#">quat</a></td>
<td>Input</td><td class="watchsize" id="25">4 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S10T3">
<td id="blank"></td><td>9</td>
<td id=""><a href="#">Ts</a></td>
<td>Input</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S11T3">
<td id="blank"></td><td>10</td>
<td id=""><a href="#">Ko</a></td>
<td>Input</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S12T3">
<td id="blank"></td><td>11</td>
<td id=""><a href="#">Kp</a></td>
<td>Input</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S13T9">
<td id="blank"></td><td>12</td>
<td id=""><a href="#">r2q</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">function_handle</td>
<td class="watchcomplex">-</td>
</tr>
<tr class="var type1" id="S15T10">
<td id="blank"></td><td>13</td>
<td id=""><a href="#">err_quat</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">function_handle</td>
<td class="watchcomplex">-</td>
</tr>
<tr class="var type1" id="S17T4">
<td id="blank"></td><td>14</td>
<td id=""><a href="#">Pose_dot</a></td>
<td>Local</td><td class="watchsize" id="23">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S18T11">
<td id="blank"></td><td>15</td>
<td id=""><a href="#">quat_ee</a></td>
<td>Local</td><td class="watchsize" id="25">4 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S19T4">
<td id="blank"></td><td>16</td>
<td id=""><a href="#">eo</a></td>
<td>Local</td><td class="watchsize" id="23">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S20T6">
<td id="blank"></td><td>17</td>
<td id=""><a href="#">KO</a></td>
<td>Local</td><td class="watchsize" id="24">3 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S22T6">
<td id="blank"></td><td>18</td>
<td id=""><a href="#">KP</a></td>
<td>Local</td><td class="watchsize" id="24">3 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
</tbody>
</table>
</body>
